body {
    margin: 0;
    padding: 0;
    background: url(images/fondo.jpg) no-repeat center top;
    font-family: sans-serif;
  }
  
  .login-box {
    width: 320px;
    height: 90px;
    background: #05498A;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    background: #ffc107;
    color: #000;
  }
  
  .login-box a:hover {
    color: #fff;
  }

  table{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 350%);
    box-sizing: border-box;
  }
  th, td{
    width: 200px;
    text-align: center;
    border: 1px solid #000;
    border-spacing: 0;
  }